 .layout-wrapper .layout-menu-container .layout-menu > li {
        margin-bottom: 0;
    }
    .layout-wrapper .layout-menu-container .layout-menu > li > a {
        display: block;
    }
    .layout-wrapper .layout-menu-container .layout-menu > li.layout-root-menuitem {
        margin-bottom: 16px;
    }
    .layout-wrapper .layout-menu-container .layout-menu > li.layout-root-menuitem > a {
        display: none;
    }
    .layout-wrapper .layout-menu-container .layout-menu > li:not(.layout-root-menuitem) + li.layout-root-menuitem {
        margin-top: 16px;
    }